/* Colors */

:root {
	--color-black: 0 0 0;
	--color-darker: 38 39 45;
	--color-dark: 84 86 100;
	--color-middle: 141 142 150;
	--color-light: 182 182 201;
	--color-lighter: 243 243 248;
	--color-white: 255 255 255;

	--color-blue: 0 133 255;
	--color-sky: 90 113 250;
}
