/* Base */

.user-info {
	padding: 12px;
}

/* Name */

.user-info__name {
	margin: 0;
	font-weight: normal;
	font-size: 34px;
}

/* Nick */

.user-info__nick {
	margin: 0;
	color: var(--color-text-tertiary);
}

/* Stats */

.user-info__stats {
	margin: 0;
	padding: 8px 0;
	list-style: none;
	display: flex;
	gap: 10px;
	color: var(--color-text-tertiary);
}

/* Stats Link */

.user-info__stats-link {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: underline;
	}
}

/* Stats Number */

.user-info__stats-number {
	color: var(--color-text-primary);
	font-weight: bold;
}

/* Bio */

.user-info__bio {
	margin: 0;
}
