/* Base */

.navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Icon */

.navigation__icon {
	display: block;
}

/* Link */

.navigation__link {
	color: var(--color-text-primary);
	text-decoration: none;
}
