/* Base */

.profile {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: 150px 42px;
}

/* Cover */

.profile__cover {
	grid-column: span 2;
	width: 100%;
	height: 150px;
	object-fit: cover;
}

/* Avatar */

.profile__avatar {
	display: block;
	margin-top: -40px;
	margin-left: 12px;
	border-radius: 50%;
	outline: 2px solid var(--color-back-primary);
}

/* Controls */

.profile__contols {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 6px;
	padding-right: 12px;
}

/* Button */

.profile__button {
	margin: 0;
	border: none;
	border-radius: 50px;
	background-color: var(--color-back-secondary);
	font-family: inherit;
}

.profile__button--text {
	padding: 7px 24px;
}

.profile__button--icon {
	padding: 5px 12px;
}

/* Icon */

.profile__icon {
	display: block;
}
