/* Dark */

:root {
	color-scheme: dark;

	--color-back-primary: rgb(var(--color-black));
	--color-back-secondary: rgb(var(--color-darker));

	--color-text-primary: rgb(var(--color-white));
	--color-text-secondary: rgb(var(--color-lighter));
	--color-text-tertiary: rgb(var(--color-light));

	--color-border: rgb(var(--color-dark) / 50%);
}
