/* Base */

.action {
	margin: 0;
	padding: 0;
	display: inline-flex;
	column-gap: 6px;
	align-items: center;
	border: 0;
	background-color: transparent;
	text-decoration: none;
	color: rgb(var(--color-blue));
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
}

.action--secondary {
	color: var(--color-text-tertiary);
}

.action--hover:hover {
	text-decoration: underline;
}
