/* Social */

.social {
    display: grid;
    background-color: var(--basic-light);
}

@media (width < 736px) {
    .social {
        padding: 16px;
        row-gap: 24px;
        font-size: 12px;
    }
}

@media (width >= 736px) {
    .social {
        font-size: 14px;
        column-gap: 16px;
    }
}

@media (736px <= width < 1008px) {
    .social {
        padding: 24px;
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (width >= 1008px) {
    .social {
        padding: 24px 32px;
        grid-template-columns: repeat(12, 1fr);
    }
}

/* Header */

.social__header {
    margin: 0;
    line-height: 1.3;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-family: 'Dewi Expanded', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

@media (736px <= width < 1008px) {
    .social__header {
        grid-column: 1 / span 4;
    }
}

@media (width >= 1008px) {
    .social__header {
        grid-column: 1 / span 7;
    }
}

/* List */

.social__list {
    margin: 0;
}

@media (736px <= width < 1008px) {
    .social__list {
        grid-column: 5 / span 4;
    }
}

@media (width >= 1008px) {
    .social__list {
        grid-column: 8 / span 5;
    }
}

/* Item */

.social__item {
    display: grid;
    padding: 8px 0;
}

.social__item:not(:last-child) {
    border-bottom: 1px solid var(--basic-neutral);
}

@media (width < 736px) {
    .social__item {
        grid-template-columns: 152px 1fr;
    }
}

@media (width >= 736px) {
    .social__item {
        grid-template-columns: 168px 1fr;
    }
}

@media (width < 1008px) {
    .social__item {
        column-gap: 16px;
    }
}

@media (width >= 1008px) {
    .social__item {
        column-gap: 24px;
    }
}

/* Title */

.social__title {
    order: 1;
    align-self: center;
    line-height: 1.3;
}

/* Description */

.social__description {
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-content: start;
    column-gap: 8px;
}

/* Link */

.social__link:hover {
    transition: transform 0.1s linear;
    transform: scale(1.1);
}

.social__link:focus {
    outline: 3px solid var(--special-semi-dark);
    outline-offset: 2px;
}

/* Icon */

.social__icon {
    display: block;
}

@media (width < 736px) {
    .social__icon {
        width: 32px;
        height: 32px;
    }
}

@media (width >= 736px) {
    .social__icon {
        width: 36px;
        height: 36px;
    }
}
