/* Dewi Regular (Latin) */

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/dewi/regular-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Dewi Regular (Latin Extended) */

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/dewi/regular-latin-extended.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Dewi Regular (Cyrillic) */

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/dewi/regular-cyrillic.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Dewi Bold (Latin) */

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/dewi/bold-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Dewi Bold (Latin Extended) */

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/dewi/bold-latin-extended.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Dewi Bold (Cyrillic) */

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/dewi/bold-cyrillic.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Dewi Italic (Latin) */

@font-face {
    font-family: 'Dewi';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/dewi/italic-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Dewi Italic (Latin Extended) */

@font-face {
    font-family: 'Dewi';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/dewi/italic-latin-extended.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Dewi Italic (Cyrillic) */

@font-face {
    font-family: 'Dewi';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/dewi/italic-cyrillic.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Dewi Expanded Regular (Latin) */

@font-face {
    font-family: 'Dewi Expanded';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/dewi-expanded/regular-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Dewi Expanded Regular (Latin Extended) */

@font-face {
    font-family: 'Dewi Expanded';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/dewi-expanded/regular-latin-extended.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Dewi Expanded Regular (Cyrillic) */

@font-face {
    font-family: 'Dewi Expanded';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/dewi-expanded/regular-cyrillic.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Dewi Expanded Bold (Latin) */

@font-face {
    font-family: 'Dewi Expanded';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/dewi-expanded/bold-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Dewi Expanded Bold (Latin Extended) */

@font-face {
    font-family: 'Dewi Expanded';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/dewi-expanded/bold-latin.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Dewi Expanded Bold (Cyrillic) */

@font-face {
    font-family: 'Dewi Expanded';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/dewi-expanded/bold-cyrillic.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Rostin Regular (Latin) */

@font-face {
    font-family: 'Rostin';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/rostin/regular-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Rostin Regular (Latin Extended) */

@font-face {
    font-family: 'Rostin';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/rostin/regular-latin-extended.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Rostin Regular (Cyrillic) */

@font-face {
    font-family: 'Rostin';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/rostin/regular-cyrillic.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
